.feed{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   grid-column-gap: 16px;
   grid-row-gap: 30px;
   margin-top: 15px;
}



.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.card h3{
    font-size: 1rem;
    color: #666;
}
.card p {
    font-size: 0.9rem;
    color: #333;
}