.play-video {
    flex-basis: 70%;
}

.play-video iframe {
    width: 100%;
    height: 35vw;
    border-radius: 1rem;
}

.play-video h3 {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.play-video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    font-size: 1rem;
    color: #5a5a5a;
}

.play-video-info img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.play-video-info span {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 1rem;
}

.play-video hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

.publisher {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

}

.publisher div {
    flex: 1;
    line-height: 1;
}

.publisher img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}



.publisher div p {
    font-size: 1rem;
    margin: 0.2rem 0;
    font-weight: 700;
}

.publisher div span {
    color: #5a5a5a;
    font-size: 0.9rem;
}

.publisher button {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

.vid-description {
    padding-left: 3rem;
    margin: 1rem 0;
}

.vid-description p {
    margin: 0.3rem 0;
    color: #5a5a5a;
    line-height: 1.4;
}

.vid-description h4 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;

}

.comment {
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    padding-right: 1rem;
}

.comment img {
    width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.comment div h3{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.comment h3 span {
    color: #5a5a5a;
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.comment-action{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.comment-action img{
    border-radius: 0;
    width: 1.5vw;
    margin-right: 0.5rem;
}
.comment-action span{
    margin-right: 1.5rem;
    color: #5a5a5a;
}

@media (max-width: 908px) {
    .play-video {
        flex-basis: 100%;
        
    }

    .play-video iframe {
        width: 100%;
        height: 50vw;
    }

    .vid-description {
        padding-left: 0;
    }
    .play-video .play-video-info{
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .comment{
        display: none;
    }
}