.slidebar{
    width: 17%;
    height: 100vh;
    /* background-color: #F9F9F9; */
    background: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;
}
.shortcut_links{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 15px;
    cursor: pointer;
    user-select: none;
}
.side_link{
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: 16px; */
   padding: 0 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.side_link img{
    width: 1.5rem;
    /* height: 20px; */
    margin-right: 10px;
}

.side_link p {
    font-weight: 500;
     transition: all 0.5s;
}
/* #F9F9F9 */

.subscribed_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    gap: 1.25rem;
    /* border: 1px solid red; */
}
.subscribed_list h3{
    font-weight: 500;
}
.subscribed_list img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.small-sidebar{
    padding: 0;
    width: 5%;
    transition: all 0.5s;
}
.small-sidebar p{
    display: none;
     transition: all 0.5s;
}
.small-sidebar h3{
    display: none;
     transition: all 0.5s;
}


.side_link.active img{
    padding-bottom: 0.1rem;
    border-bottom: 3px solid red;
}