.play-container{
    background-color: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}