.container{
    background: #f9f9f9;
    padding: 18%;
    padding-right: 2%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    transition: all 0.5s;
}

.large_container{
    padding-left: 7%;
}

@media (max-width: 908px) {
    .container , .large_container{
      padding-left: 5%;
    padding-right: 5%;
    }
}